@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Typography
$base-font-family: $helvetica;

// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;

$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;

body {
  background-color: $base-background-color;
  color: $base-font-color;
  font-family: $base-font-family;
  margin: 0;
}

.header {
border-bottom: 2px solid gray;
height: 50px;
background-color: #97C129;
}

.picture::before {
  content: "";
  display: block;
  background: rgba(121, 121, 129, 0.67);
  height: 350px;
  color: white;
  z-index: -1;

}

.picture {
  height: 350px;
  background-image: url('../thai.png');
  background-size: cover;
 z-index: -2;
}

.restaurantName {
  color: white;
  display: block;
  font-size: 50px;
  z-index: 2;
position: relative;
bottom: 250px;
left: 150px;
}

.menu-btn {
  position: relative;
  bottom: 40px;
  left: 70px;
  height: 40px;
  background-color: #97C129;
  border: none;
  width: 80px;
  color: white;
}

li {
  list-style-type: none;
}

.item-list {

  width: 500px;
  border: 1px solid gray;
  margin-left: 10px;
  padding-left: 5px;
}

.list {
border-bottom: 1px solid gray;

}

.cart {
  position: absolute;
  left: 700px;
  top: 455px;
  bottom: 0;
border: 1px solid black;
  height: 400px;
  width: 400px;
}
